<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [25]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [26]:
stringA = 'Bienvenidos'         #Creacion y asignación de una Variable String
stringB = "al Documento"        
print(stringA + ' ' +stringB)   #Impresion y concatenación de Strings

Bienvenidos al Documento

An integer is a round number with no values after the decimal point.

In [27]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [28]:
mi_Entero = 23              #Creacion y asignación de una Variable numérica
print(mi_Entero)            #Impresión de números almacenados en variables
print(type(mi_Entero))      #La función 'type' nos devuleve el tipo de dato de  
                              #la variable 'mi_Entero'

23
<class 'int'>

The built-in function int() can convert a string into an integer.

In [29]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [30]:
mi_No_entero = "23"
print(type(mi_No_entero))         #Imprimimos el tipo de dato de la variable 'mi_No_entero'
mi_entero = int(mi_No_entero)     #Pasamos de string a int lo amacenado
print(type(mi_entero))               #imprimimos

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [31]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [32]:
mi_string = "14.5"
mi_flotante = float(mi_string)  #Casting de string a float
print(type(mi_flotante))        #Verificamos el tipo de dato con 'type'

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [33]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [34]:
mi_booleano = True        #Creamos una variable booleana
print(mi_booleano)        
print(type(mi_booleano))  #Verificamos el tipo de dato de la variable

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [35]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [36]:
print("Adición ", 2+2)
print("Resta ", 17-5)
print("Multiplicación ", 3*2)
print("División ", 1/3)
print('Exponenciación', 12**2)

Adición  4
Resta  12
Multiplicación  6
División  0.3333333333333333
Exponenciación 144

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [37]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [38]:
print(4/2)
print(12.3/2)

2.0
6.15

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [39]:
my_list = ['Quant', 'Connect']#, 1,2,3]
print(my_list)

['Quant', 'Connect']

In [40]:
mi_lista = ['Algoritmos', 'UNAL'] #Creamos una lista con dos objetos String
print(mi_lista)

['Algoritmos', 'UNAL']

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [41]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [42]:
mi_lista = ['Algoritmos', 'UNAL', 10, 11, 12, 13] #Vemos que podemos crear una lista con cualquier tipo de objeto
print(len(mi_lista))
print(mi_lista[0])      #Imprimimos el objeto en la posición 0 de la lista
print(mi_lista[len(mi_lista) -1])   #Imprimimos el último objeto de la lista

6
Algoritmos
13

You can also change the elements in the list by accessing an index and assigning a new value.

In [43]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [44]:
mi_lista = ['Algoritmos', 'UNAL', 10, 11, 12, 13]
mi_lista[2] = 'vamos'       #Modificamos el objeto en la posicion 2 de la lista (el número 10)
print(mi_lista)

['Algoritmos', 'UNAL', 'vamos', 11, 12, 13]

A list can also be sliced with a colon:

In [45]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [46]:
mi_lista = ['Algoritmos', 'UNAL', 10, 11, 12, 13]
print(mi_lista[2:4])    #Imprimimos una sublista que contiene los elementos de la posicion 2 hasta la posicion 4-1

[10, 11]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [47]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [48]:
print(mi_lista[2:])   #Imprimimos una sublista que contiene los elementos desde la posicion 2 hasta el último de la lista

[10, 11, 12, 13]

And all elements up to but excluding index 3:

In [49]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [50]:
print(mi_lista[:4])  #Imprimimos una sublista que contiene todos los elementos de la lista hasta la posicion 4-1

['Algoritmos', 'UNAL', 10, 11]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [51]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [52]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [53]:
mi_lista = ['Hola', 'Mundo']
mi_lista.append('Hola')   #Añadimos el objeto string a la lista en la ultima posición
print(mi_lista)

['Hola', 'Mundo', 'Hola']

In [54]:
mi_lista.remove('Hola')   #Removemos el primer elemento de la lista que sea igual al declarado en el llamado de la función
print(mi_lista)

['Mundo', 'Hola']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [55]:
my_tuple = ('Welcome','to','QuantConnect')

In [56]:
mi_primera_tupla = ('Bienvenido', 'a', 'Mi Libro')    #Creamos una tupla

#  Nota: las principales diferencias entre listas y tuplas en Python radican, 
#   básicamente, en el hecho de que las listas son mutables mientras que las 
#   tuplas no lo son. Así se puede comprobar en qué casos es mejor una u otra 
#   estructura de datos. 
#   En el caso de que no sea necesario modificar el contenido de los datos 
#   la mejor opción es la tupla, ya que es ocupa menos memoria y es más rápida. 
#   En el resto de los casos la mejor opción será utilizar listas.

Just like a list, a tuple can be sliced by using index.

In [57]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [58]:
mi_primera_tupla = ('Bienvenido', 'a', 'Mi Libro')  #Creamos una tupla con 3 Objetos
print(mi_primera_tupla[2:])   # Imprimimos una subtupla que contiene los elementos desde la posicion 2 hasta el último de la lista

('Mi Libro',)

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [59]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'GOOG', 'FB', 'IBM', 'AAPL', 'F'}

In [60]:
lista_Valores = ['HYMC','DOCU','DIDI','HYMC','DIDI','RIVN','T','DOCU']
set_Valores = set(lista_Valores)    #Creamos un Set a partir de una lista de objetos
print(set_Valores)          #Verificamos que ya no tenemos objetos duplicados, por definición de un set

{'DOCU', 'RIVN', 'T', 'DIDI', 'HYMC'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [61]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [62]:
print(my_dic['GOOG'])

Alphabet

In [63]:
#Creamos un Diccionario, que se encarga de asignar un objeto a una key determinada
miDiccionario = {'TSLA':'Tesla', 'T':'AT&T', 'BTC-USD':'Bitcoin'}

In [64]:
print(miDiccionario['T'])

AT&T

After defining a dictionary, we can access any value by indicating its key in brackets.

In [65]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [66]:
miDiccionario['BTC-USD'] = 'Bitcoin USD'  #Modificamos el objeto atado a la key especificada
print(miDiccionario['BTC-USD'])

Bitcoin USD

We can also change the value associated with a specified key:

In [67]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [68]:
print(miDiccionario.keys())   #Imprimimos las keys que tiene nuestro diccionario

dict_keys(['TSLA', 'T', 'BTC-USD'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [69]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [70]:
miString = 'Bienvenidos al Libro'
print(miString[5:])   #Imprimo un substring con los caracteres del 5 hasta el final

enidos al Libro

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [71]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [72]:
print('Vamos a contar las veces que aparece la letra a en esta frase'.count('a'))
print('El índice de la primera vez que aparece la a en la frase'.find('a'))
print('Vamos a remplazar todas las o\'s de la frase por x'.replace('o','x'))

11
14
Vamxs a remplazar txdas las x's de la frase pxr x

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [73]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [74]:
fechaHora = '2022-03-11 14:30:00'
listaSeparada = fechaHora.split(' ')   #Dividimos el string fechaHora por cada vez que encontremos el separador, además, 
                                          # definimos el espacio en blanco como separador
fecha = listaSeparada[0]            #asignamos la primera división a la variable fecha
hora = listaSeparada[1]             #asignamos la segunda división a la variable hora
print(fecha, hora)                  
soloHora = hora.split(':')[0]      #Dividimos el string hora por cada vez que encontremos el separador (en este caso ':') y asignamos solo el 1er objeto
print(soloHora)

2022-03-11 14:30:00
14

We can replace parts of a string by our variable. This is called string formatting.

In [75]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [76]:
miHora = 'Hora: {}, Minutos: {}, Segundos: {}'.format('14','42','03') #Formateamos un string
print(miHora)

Hora: 14, Minutos: 42, Segundos: 03

Another way to format a string is to use the % symbol.

In [77]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [78]:
print('the euler number is %f'%2.718)
print('%s a %s'%('Bienvenido','Mi Libro'))

the euler number is 2.718000
Bienvenido a Mi Libro

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [79]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [80]:
print(2 == 5)   #2 es igual a 5?
print(3 == 4)   #3 es igual a 4?
print(4 != 3)   #4 es No Igual a 3?
print(5 >= 2)   #5 es mayor o igual a 2?
print(6 <= 1)   #6 es menor o igual a 1?

False
False
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [81]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [82]:
print(3 > 1 or  8 > 1)    #True || True = True
print(4 > 2 and 6 < 1)    #True && False = False
print(1 > 2 and  7 < 1)   #False && False = False
print(6 < 2 or 4 < 1)     #False || False = False

True
False
False
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [83]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [84]:
print((4 < 2 or 1 <= 2) or (1==1 and 2!=3) and not (2 < 1 and 2 > 3 or (5 > 1 or 7 < 12)))
print(4 < 2 or 1 <= 2 or (1==1 and 2!=3) and not (2 < 1 and 2 > 3 or (5 > 1 or 7 < 12)))

True
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [85]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [86]:
h = 1
if h ==1:
    print('h==1 is True')

h==1 is True

As we mentioned above, we can write some complex statements here:

In [87]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [88]:
r = 4 > 0
s = 5 > 3
if r and s:
    print('p and q is true')
elif r and not s:
    print('q is false')
elif s and not r:
    print('p is false')
else:
    print('None of p and q is true')

p and q is true

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [89]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [90]:
i = 0
while i < 5:  #Mientras i sea menor a 5
    print(i**2) #Imprima i al cuadrado
    i += 1      #i va a ser i+1

0
1
4
9
16

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [91]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [92]:
for i in [1,2,3,4,5]: #Asignamos a i el valor de cada uno de los elementos de la lista por cada iteración
    print(i**3)

1
8
27
64
125

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [93]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [94]:
valores = ['HYMC','DOCU','DIDI','HYMC','DIDI','RIVN','T','DOCU']
seleccion = ['HYMC','DIDI']
listaNueva = []
for i in valores:     #Metemos en listaNueva todos los strings de valores, menos los que estén en selección
    if i not in seleccion:
        listaNueva.append(i)    
print(listaNueva)

['DOCU', 'RIVN', 'T', 'DOCU']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [95]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [96]:
valores = ['HYMC','DOCU','DIDI','HYMC','DIDI','RIVN','T','DOCU']
for i in valores:     #Recorremos la lista de valores
    print(i)
    if i == 'DIDI':   #Si i='DIDI'
        break         #Salimos del ciclo for

HYMC
DOCU
DIDI

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [97]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [98]:
valores = ['HYMC','DOCU','DIDI','HYMC','DIDI','RIVN','T','DOCU']
for i in valores:
    if i == 'DIDI':   
        continue      #Saltamos a la siguiente iteración del ciclo for
    print(i)

HYMC
DOCU
HYMC
RIVN
T
DOCU

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [99]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [100]:
cubos = []
#Elevamos cada uno de los numeros, del 1 al 5, al cubo y los almacenamos en 'cubos'
for i in [1,2,3,4,5]:
    cubos.append(i**3)
print(cubos)

[1, 8, 27, 64, 125]

Using list comprehension:

In [101]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

In [102]:
listaNumeros = [1,2,3,4,5]
cubos = [x**3 for x in listaNumeros]    #recorremos listaNumeros y cada elemento lo elevamos a la 3 y lo almacenamos en la lista cubos
print(cubos)

[1, 8, 27, 64, 125]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [103]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [104]:
valores = ['HYMC','DOCU','DIDI','RIVN','T','DOCU']
seleccion = ['HYMC','DIDI']
listaNueva = [x for x in valores if x not in seleccion]   
print(listaNueva)

['DOCU', 'RIVN', 'T', 'DOCU']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [105]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [106]:
print([(x, y) for x in ['A','B','C'] for y in [3,1,4] if x != y])   #Permutamos los elementos x con los y
print([str(x)+' vs '+str(y) for x in ['HYMC','DOCU','DIDI','RIVN'] for y in ['H','D','DIDI','R'] if x == y])

[('A', 3), ('A', 1), ('A', 4), ('B', 3), ('B', 1), ('B', 4), ('C', 3), ('C', 1), ('C', 4)]
['DIDI vs DIDI']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [107]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [108]:
def division(x,y):     #Definimos una función llamada division que recibe dos parámetros
    if(y == 0):
      return None       #None hace referencia al atributo null de Python
    else:
      return x/y
print(division(23,3))
print(division(5,0))

7.666666666666667
None

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [109]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [110]:
def holaMundo():      #En esta función no especificamos el requerimiento de parámetros
    print('Hola Mundo')
holaMundo()

Hola Mundo

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [111]:
print(range(10))        #Sucesión de Números del 0 al 9 incluidos
print(range(1,11))      #Sucesión de Números del 1 al 10 incluidos
print(range(1,11,2))    #Secesión de Números del 1 al 10 avanzando de a dos

range(0, 10)
range(1, 11)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [112]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [113]:
tiquetes = ['HYMC','DOCU','DIDI','HYMC','DIDI','RIVN','T','DOCU']
print('La longitud de tiquetes es {}'.format(len(tiquetes)))
for i in range(len(tiquetes)):    #len() nos da el numero de tiquetes y range() nos permite recorrer cada indice
    print(tiquetes[i])

La longitud de tiquetes es 8
HYMC
DOCU
DIDI
HYMC
DIDI
RIVN
T
DOCU

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [114]:
print(list)   #list es una palabra reservada para definir el tipo de dato list de Python
del list      #eliminamos la declaración de la variable list
list

[1, 2, 3, 4, 5]

list

In [115]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [116]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [117]:
tiquetes = ['HYMC','DOCU','DIDI','HYMC','DIDI','RIVN','T','DOCU']
list(map(len,tiquetes))   #nos computa el número de caracteres por cada objeto de tiquetes

[4, 4, 4, 4, 4, 4, 1, 4]

In [118]:
tiquetes = ['HYMC','DOCU','DIDI','HYMC','DIDI','RIVN','T','DOCU']
print(list(map(len,tiquetes)))   #estamos mostrando que en Python no es necesario definir la función print para arrojar el resultado en pantalla

[4, 4, 4, 4, 4, 4, 1, 4]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [119]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [120]:
list(map(lambda x: x**3, range(6)))   #Recorremos los números del 0 al 6-1 y los elevamos al cubo e imprimimos

[0, 1, 8, 27, 64, 125]

map() can be applied to more than one list. The lists have to have the same length.

In [121]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [122]:
list(map(lambda x, y: x+y, [12,22,13,54,25],[51,34,43,22,41])) #Sumamos los elementos de la primera lista, con los de la segunda 1:1

[63, 56, 56, 76, 66]

**sorted()** takes a list or set and returns a new sorted list

In [123]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [124]:
sorted([2,4,-1,2,3,-2])

[-2, -1, 2, 2, 3, 4]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [125]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [126]:
listaPrecios = [('HYMC',12.2),('DOCU',11.21),('DIDI',34),('HYMC',12.3),('DIDI',12.4)]
sorted(listaPrecios, key = lambda x: x[1])    #Ordenamos los elementos de Menor a Mayor

[('DOCU', 11.21), ('HYMC', 12.2), ('HYMC', 12.3), ('DIDI', 12.4), ('DIDI', 34)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [127]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [128]:
listaPrecios = [('HYMC',12.2),('DOCU',11.21),('DIDI',34),('HYMC',12.3),('DIDI',12.4)]
sorted(listaPrecios, key = lambda x: x[1], reverse = True)  #Invertimos el ordenamiento para ser de Mayor a menor

[('DIDI', 34), ('DIDI', 12.4), ('HYMC', 12.3), ('HYMC', 12.2), ('DOCU', 11.21)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [129]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [130]:
listaPrecios = [('HYMC',12.2),('DOCU',11.21),('DIDI',34),('HYMC',12.3),('DIDI',12.4)]
listaPrecios.sort(key = lambda x: x[1])   #el objeto de tipo lista trae internamente un método para ordenar la lista
print(listaPrecios)

[('DOCU', 11.21), ('HYMC', 12.2), ('HYMC', 12.3), ('DIDI', 12.4), ('DIDI', 34)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [131]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [132]:
class Carro:    #Creamos una clase carro
    def __init__(self, marca, referencia, numPuertas):
        self.marca = marca
        self.referencia = referencia
        self.numPuertas = numPuertas
        self.llaves = False
        self.cinturon = False
        self.licencia = 0

    def encenderVehiculo(self, llaves, cinturon, licencia): #definimos un método propio de la clase
        self.llaves = llaves
        self.cinturon = cinturon
        self.licencia = licencia
        if (self.llaves and self.cinturon and (self.licencia > 0)): 
          print("El carro ha encendido")
        else:
          print("Upps... Falta Algo :c")

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [133]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [134]:
cSpark = Carro("Chevrolet", "Spark", 4)
nLeaf = Carro("Nissan", "Leaf", 4)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [135]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [136]:
cSpark.encenderVehiculo(True, True, 1123122)
nLeaf.encenderVehiculo(False, True, 21312342)

El carro ha encendido
Upps... Falta Algo :c

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [137]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [138]:
nLeaf.licencia = "15555552"
nLeaf.licencia

'15555552'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [139]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [140]:
dir(nLeaf)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'cinturon',
 'encenderVehiculo',
 'licencia',
 'llaves',
 'marca',
 'numPuertas',
 'referencia']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [141]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [142]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [143]:
class Recolector(Carro):
    def __init__(self, marca, referencia, numPuertas, tonelajeSopor):
        self.tonelajeSopor=tonelajeSopor
        super().__init__(marca, referencia, numPuertas)

In [144]:
compactador = Recolector("BMW", "P231", 2, 5)
print(compactador.tonelajeSopor)
print(compactador.marca)
compactador.encenderVehiculo(True,True,12221212)

5
BMW
El carro ha encendido

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [145]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [146]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [147]:
listaPrecios = [12.3, 2312.1, 432.2, 756.2, 32.4, 122.3, 213.2]
arrayPrecios = np.array(listaPrecios)   #Hacemos un cast de <list> a <np.array>
print(arrayPrecios, type(arrayPrecios))

[  12.3 2312.1  432.2  756.2   32.4  122.3  213.2] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [148]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [149]:
matriz = np.array([[1, 0, 0], [0, 1, 2], [0, 0, 1]])  #creamos una matriz definiendo cada fila como una lista de listas
print(matriz, type(matriz))

[[1 0 0]
 [0 1 2]
 [0 0 1]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [150]:
print(Ar.shape)

(2, 2)

In [151]:
print(matriz.shape) #Obtenemos las dimensiones de la matriz

(3, 3)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [152]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [153]:
print(matriz[1, 2])     #Posicion (i,j) de la matriz (fila, columna)

2

If we want to access the matrix by column instead:

In [154]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [155]:
print("Primera Fila: ", matriz[0,:])  #El : nos indica "all"
print("Ultima Columna: ", matriz[:,2])

Primera Fila:  [1 0 0]
Ultima Columna:  [0 2 1]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [156]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [157]:
print(np.log(arrayPrecios)) #Obtenemos el log_10 de cada elemento del arreglo de precios

[2.50959926 7.74591148 6.06888844 6.62830589 3.47815842 4.80647704
 5.36223069]

Other functions return a single value:

In [158]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [159]:
print(np.mean(arrayPrecios))    #Media de los elementos del arreglo de precios
print(np.std(arrayPrecios))     #Desviación estandar del " "
print(np.sum(arrayPrecios))     #Suma de los elementos del " "
print(np.max(arrayPrecios))     #Devuelve el elemento mayor del " "

554.3857142857144
757.3119406890427
3880.7000000000003
2312.1

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [160]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [161]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [172]:
precios = [12.3, 2312.1, 432.2, 756.2, 32.4, 122.3, 213.2]
w = pd.Series(precios)    #Serializamos los elementos de la lista de precios
w

0      12.3
1    2312.1
2     432.2
3     756.2
4      32.4
5     122.3
6     213.2
dtype: float64

We can customize the indices of a new Series:

In [163]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [164]:
w = pd.Series(precios, index=['a','b','c','d','e','f','g']) #Podemos personalizar el conteo
w

a      12.3
b    2312.1
c     432.2
d     756.2
e      32.4
f     122.3
g     213.2
dtype: float64

Or we can change the indices of an existing Series:

In [165]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [166]:
w.index = ['w', 'x', 'e', 'r', 'w', 'a', 1] #Tan personalizable es, que podemos incluso poner el objeto que deseemos
w

w      12.3
x    2312.1
e     432.2
r     756.2
w      32.4
a     122.3
1     213.2
dtype: float64

Series is like a list since it can be sliced by index:

In [167]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [168]:
print(w[2:])    #Imprimimos del Índice 2 en adelante
print(w[:-4])   #Im´rimimos todos menos los últimos 4 elementos

e    432.2
r    756.2
w     32.4
a    122.3
1    213.2
dtype: float64
w      12.3
x    2312.1
e     432.2
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [169]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [173]:
print(w[3])
w[3] = "Hola"
print(w)

756.2
0      12.3
1    2312.1
2     432.2
3      Hola
4      32.4
5     122.3
6     213.2
dtype: object

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [174]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [175]:
w = pd.Series(precios, name = 'Lista de Precios de Didi')   #Le asignamos un nombre a la Serie
print(w)
print(w.name)

0      12.3
1    2312.1
2     432.2
3     756.2
4      32.4
5     122.3
6     213.2
Name: Lista de Precios de Didi, dtype: float64
Lista de Precios de Didi

We can get the statistical summaries of a Series:

In [176]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [177]:
print(w.describe()) #Un método útil para obtener estadísticas básicas de una serie de números

count       7.000000
mean      554.385714
std       817.990386
min        12.300000
25%        77.350000
50%       213.200000
75%       594.200000
max      2312.100000
Name: Lista de Precios de Didi, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [178]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [179]:
indicexTiempo = pd.date_range('2020-03-15',periods = len(w),freq = 'D')    #Creamos una serie de fechas desde el 15 de marzo de 2020 y avanzamos 6 periodos
print(indicexTiempo)
w.index = indicexTiempo   #asignamos las fechas como indice de la lista de precios
print(w)

DatetimeIndex(['2020-03-15', '2020-03-16', '2020-03-17', '2020-03-18',
               '2020-03-19', '2020-03-20', '2020-03-21'],
              dtype='datetime64[ns]', freq='D')
2020-03-15      12.3
2020-03-16    2312.1
2020-03-17     432.2
2020-03-18     756.2
2020-03-19      32.4
2020-03-20     122.3
2020-03-21     213.2
Freq: D, Name: Lista de Precios de Didi, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [180]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [181]:
w.index = [4,5,6,7,8,9,0]
print(w)
print(w[7]) #El objeto entre paréntesis hace referencia al indice que definamos

4      12.3
5    2312.1
6     432.2
7     756.2
8      32.4
9     122.3
0     213.2
Name: Lista de Precios de Didi, dtype: float64
756.2

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [182]:
print(s.iloc[1])

145.83

In [183]:
print(w.iloc[2])  #con .iloc obtenemos el n° elemento (en este caso el segundo [tercero] ) ingresado

432.2

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [184]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [185]:
w.index = indicexTiempo #Verificamos que podemos consultar por una fecha específica
print(w['2020-03-20'])

122.3

We can even access to a range of dates:

In [186]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [187]:
print(w['2020-03-20':'2020-03-22'])   #O podemos consultar por rango de fechas

2020-03-20    122.3
2020-03-21    213.2
Freq: D, Name: Lista de Precios de Didi, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [188]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [189]:
print(np.mean(w))
print(w[w < np.mean(w)], '\n') #imprimimos todos los objetos cuyo valor sea menor a la media de los objetos de la lista
print([(w > np.mean(w)) & (w < np.mean(w) + 1.64*np.std(w))])   #Realizamos una comparación de cada uno de los objetos de la lista y nos devuelve el resultado lógico de cada uno

554.3857142857144
2020-03-15     12.3
2020-03-17    432.2
2020-03-19     32.4
2020-03-20    122.3
2020-03-21    213.2
Name: Lista de Precios de Didi, dtype: float64

[2020-03-15    False
2020-03-16    False
2020-03-17    False
2020-03-18     True
2020-03-19    False
2020-03-20    False
2020-03-21    False
Freq: D, Name: Lista de Precios de Didi, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [190]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.8.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)

In [191]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 100000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.33890998, 'profitMargins': 0.26579002, 'grossMargins': 0.43019, 'operatingCashflow': 112241000448, 'revenueGrowth': 0.112, 'operatingMargins': 0.309, 'ebitda': 128217997312, 'targetLowPrice': 160, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 80153247744, 'targetMedianPrice': 199.5, 'currentPrice': 155.09, 'earningsGrowth': 0.25, 'currentRatio': 1.038, 'returnOnAssets': 0.19875, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 193.53, 'debtToEquity': 170.714, 'returnOnEquity': 1.45567, 'targetHighPrice': 215, 'totalCash': 63913000960, 'totalDebt': 122797998080, 'totalRevenue': 378323009536, 'totalCashPerShare': 3.916, 'financialCurrency': 'USD', 'revenuePerShare': 22.838, 'quickRatio': 0.875, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.653, 'beta3Year': None, 'enterpriseToEbitda': 19.63, '52WeekChange': 0.24310672, 'morningStarRiskRating': None, 'forwardEps': 6.56, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16319399936, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 4.402, 'sharesShort': 110322490, 'sharesPercentSharesOut': 0.0068, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59430003, 'netIncomeToCommon': 100554997760, 'trailingEps': 6.015, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.072551966, 'priceToBook': 35.231712, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1640390400, 'shortRatio': 1.2, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 16302795170, 'beta': 1.185531, 'enterpriseValue': 2516919255040, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1643932800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.204, 'priceToSalesTrailing12Months': 6.8725734, 'dateShortInterest': 1646006400, 'pegRatio': 1.69, 'ytdReturn': None, 'forwardPE': 23.641768, 'lastCapGain': None, 'shortPercentOfFloat': 0.0068, 'sharesShortPriorMonth': 91388112, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 150.62, 'regularMarketOpen': 150.9, 'twoHundredDayAverage': 153.8877, 'trailingAnnualDividendYield': 0.0057429294, 'payoutRatio': 0.1434, 'volume24Hr': None, 'regularMarketDayHigh': 155.57, 'navPrice': None, 'averageDailyVolume10Day': 96292350, 'regularMarketPreviousClose': 150.62, 'fiftyDayAverage': 167.6362, 'trailingAnnualDividendRate': 0.865, 'open': 150.9, 'toCurrency': None, 'averageVolume10days': 96292350, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1643932800, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 150.385, 'currency': 'USD', 'trailingPE': 25.783875, 'regularMarketVolume': 89231766, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2600052719616, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 94610615, 'dayLow': 150.385, 'ask': 155.1, 'askSize': 800, 'volume': 89231766, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.13, 'fiftyTwoWeekLow': 118.86, 'bid': 155.01, 'tradeable': False, 'dividendYield': 0.0057, 'bidSize': 1200, 'dayHigh': 155.57, 'regularMarketPrice': 155.09, 'preMarketPrice': 150.9, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.2017}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.590636,24.225176,23.450393,24.220577,270597600,0.0,0
2016-01-05,24.312538,24.335529,23.544654,23.613625,223164000,0.0,0
2016-01-06,23.119331,23.535462,22.960697,23.151518,273829600,0.0,0
2016-01-07,22.687112,23.020475,22.169824,22.174421,324377600,0.0,0
2016-01-08,22.657221,22.785968,22.245689,22.291670,283192000,0.0,0
...,...,...,...,...,...,...,...
2017-12-22,41.713649,41.890363,41.670667,41.792454,65397600,0.0,0
2017-12-26,40.787108,40.947104,40.519650,40.732185,132742000,0.0,0
2017-12-27,40.619945,40.782328,40.526813,40.739346,85992800,0.0,0
2017-12-28,40.834865,41.037847,40.710688,40.853970,65920800,0.0,0
2017-12-29,40.720244,40.736958,40.409803,40.412189,103999600,0.0,0

In [192]:
didi = yf.Ticker("DIDI")  #Buscamos el mercado en YahooFinance por su acrónimo o referencia

# get stock info
print(didi.info)      #Obtenemos algunos datos básicos 

# get historical market data
tablaDidi = didi.history(start="2020-06-01",  end="2021-12-31")    #Traemos los historicos del mercado de DIDI en un rango de fecha
tablaDidi

{'zip': '100000', 'sector': 'Technology', 'fullTimeEmployees': 15914, 'longBusinessSummary': "DiDi Global Inc., a mobility technology platform, provides ride hailing and other services in the People's Republic of China, Brazil, Mexico, and internationally. It offers ride hailing, taxi hailing, chauffeur, hitch, and other forms of shared mobility services, as well as enterprise business ride solutions; auto solutions comprising leasing, refueling, and maintenance and repair services; electric vehicle leasing services; bike and e-bike sharing, intra-city freight, food delivery, and financial services. The company was formerly known as Xiaoju Kuaizhi Inc. and changed its name to DiDi Global Inc. in June 2021. DiDi Global Inc. was founded in 2012 and is headquartered in Beijing, China.", 'city': 'Beijing', 'phone': '86 10 8304 3181', 'country': 'China', 'companyOfficers': [], 'website': 'https://www.didiglobal.com', 'maxAge': 1, 'address1': 'Building B1 & B2', 'industry': 'Software—Application', 'address2': 'No. 1 Block B Shangdong Digital Valley No. 8 Dongbeiwang West Road,Zhongguancun', 'ebitdaMargins': -0.23628001, 'profitMargins': -0.31337, 'grossMargins': 0.037920002, 'operatingCashflow': -12940378112, 'revenueGrowth': -0.017, 'operatingMargins': -0.27191, 'ebitda': -42470854656, 'targetLowPrice': 6.19, 'recommendationKey': 'buy', 'grossProfits': 11216332000, 'freeCashflow': None, 'targetMedianPrice': 9.08, 'currentPrice': 1.8, 'earningsGrowth': None, 'currentRatio': 2.901, 'returnOnAssets': None, 'numberOfAnalystOpinions': 2, 'targetMeanPrice': 9.08, 'debtToEquity': 8.427, 'returnOnEquity': None, 'targetHighPrice': 11.97, 'totalCash': 61203001344, 'totalDebt': 10593999872, 'totalRevenue': 179749158912, 'totalCashPerShare': 12.689, 'financialCurrency': 'CNY', 'revenuePerShare': 117.465, 'quickRatio': 2.51, 'recommendationMean': 2, 'exchange': 'NYQ', 'shortName': 'DiDi Global Inc.', 'longName': 'DiDi Global Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'DIDI', 'messageBoardId': 'finmb_1672242889', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': -0.161, 'beta3Year': None, 'enterpriseToEbitda': 0.681, '52WeekChange': -0.8727015, 'morningStarRiskRating': None, 'forwardEps': -0.37, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 4727690240, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 23.33, 'sharesShort': 28259912, 'sharesPercentSharesOut': 0.006, 'fundFamily': None, 'lastFiscalYearEnd': 1609372800, 'heldPercentInstitutions': 0.11243, 'netIncomeToCommon': -56869416960, 'trailingEps': -5.869, 'lastDividendValue': None, 'SandP52WeekChange': 0.072551966, 'priceToBook': 0.07715388, 'heldPercentInsiders': 0.13385001, 'nextFiscalYearEnd': 1672444800, 'yield': None, 'mostRecentQuarter': 1632960000, 'shortRatio': 1.23, 'sharesShortPreviousMonthDate': 1643587200, 'floatShares': 2312937217, 'beta': None, 'enterpriseValue': -28931094528, 'priceHint': 4, 'threeYearAverageReturn': None, 'lastSplitDate': None, 'lastSplitFactor': None, 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': None, 'priceToSalesTrailing12Months': 0.05186728, 'dateShortInterest': 1646006400, 'pegRatio': None, 'ytdReturn': None, 'forwardPE': -4.864865, 'lastCapGain': None, 'shortPercentOfFloat': None, 'sharesShortPriorMonth': 32461377, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 1.76, 'regularMarketOpen': 1.77, 'twoHundredDayAverage': 7.312626, 'trailingAnnualDividendYield': 0, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 1.96, 'navPrice': None, 'averageDailyVolume10Day': 57202740, 'regularMarketPreviousClose': 1.76, 'fiftyDayAverage': 4.0972, 'trailingAnnualDividendRate': 0, 'open': 1.77, 'toCurrency': None, 'averageVolume10days': 57202740, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': None, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 1.75, 'currency': 'USD', 'regularMarketVolume': 90647667, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 9323100160, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 28050536, 'dayLow': 1.75, 'ask': 1.82, 'askSize': 45100, 'volume': 90647667, 'fiftyTwoWeekHigh': 18.01, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 1.71, 'bid': 1.83, 'tradeable': False, 'dividendYield': None, 'bidSize': 42300, 'dayHigh': 1.96, 'regularMarketPrice': 1.8, 'preMarketPrice': 1.78, 'logo_url': 'https://logo.clearbit.com/didiglobal.com'}

              Open    High    Low  Close     Volume  Dividends  Stock Splits
Date
2021-06-30  16.650  18.010  14.10  14.14  288155500          0             0
2021-07-01  15.600  16.900  15.00  16.40  150901900          0             0
2021-07-02  14.960  15.830  14.60  15.53  101071800          0             0
2021-07-06  11.780  12.630  11.58  12.49  225560300          0             0
2021-07-07  11.990  12.180  11.50  11.91  135249400          0             0
...            ...     ...    ...    ...        ...        ...           ...
2021-12-23   5.630   5.700   5.50   5.60   13586700          0             0
2021-12-27   5.435   5.720   5.29   5.30   21146400          0             0
2021-12-28   5.330   5.545   5.22   5.38   24931700          0             0
2021-12-29   5.270   5.420   4.93   4.94   43077600          0             0
2021-12-30   4.780   5.300   4.76   5.23   35834400          0             0

[128 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [193]:
aapl = aapl_table['Close']['2017']

In [194]:
print(aapl)

Date
2017-01-03    27.297693
2017-01-04    27.267143
2017-01-05    27.405804
2017-01-06    27.711332
2017-01-09    27.965147
                ...
2017-12-22    41.792454
2017-12-26    40.732185
2017-12-27    40.739346
2017-12-28    40.853970
2017-12-29    40.412189
Name: Close, Length: 251, dtype: float64

In [195]:
didi = tablaDidi['Close']['2021'] #ALmacenamos una lista con los historicos donde la fecha sea de 2021

In [196]:
print(didi)

Date
2021-06-30    14.14
2021-07-01    16.40
2021-07-02    15.53
2021-07-06    12.49
2021-07-07    11.91
              ...
2021-12-23     5.60
2021-12-27     5.30
2021-12-28     5.38
2021-12-29     4.94
2021-12-30     5.23
Name: Close, Length: 128, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [197]:
print(aapl['2017-3'])

Date
2017-03-01    32.996025
2017-03-02    32.800110
2017-03-03    32.993668
2017-03-06    32.889809
2017-03-07    32.932297
2017-03-08    32.809555
2017-03-09    32.734013
2017-03-10    32.842609
2017-03-13    32.856762
2017-03-14    32.807205
2017-03-15    33.154179
2017-03-16    33.208466
2017-03-17    33.043232
2017-03-20    33.390213
2017-03-21    33.007828
2017-03-22    33.380775
2017-03-23    33.262753
2017-03-24    33.196659
2017-03-27    33.253315
2017-03-28    33.942551
2017-03-29    34.018082
2017-03-30    33.973225
2017-03-31    33.909504
Name: Close, dtype: float64

In [198]:
print(didi['2021-7']) #Imprimimos todos aquellos que tengan fecha de Julio de 2021

Date
2021-07-01    16.40
2021-07-02    15.53
2021-07-06    12.49
2021-07-07    11.91
2021-07-08    11.21
2021-07-09    12.03
2021-07-12    11.16
2021-07-13    12.42
2021-07-14    12.62
2021-07-15    12.36
2021-07-16    11.97
2021-07-19    11.06
2021-07-20    11.21
2021-07-21    11.50
2021-07-22    10.20
2021-07-23     8.06
2021-07-26     8.04
2021-07-27     8.04
2021-07-28     8.87
2021-07-29     9.86
2021-07-30    10.31
Name: Close, dtype: float64

In [199]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.258955
2017-02-02    30.207249
2017-02-03    30.336514
2017-02-06    30.620893
2017-02-07    30.912312
                ...
2017-04-24    33.904774
2017-04-25    34.114861
2017-04-26    33.914219
2017-04-27    33.940189
2017-04-28    33.907143
Name: Close, Length: 61, dtype: float64

In [200]:
didi['2021-7':'2021-9']   #imprimimos históricos desde Julio de 2021 hasta Septiembre de 2021

Date
2021-07-01    16.40
2021-07-02    15.53
2021-07-06    12.49
2021-07-07    11.91
2021-07-08    11.21
              ...
2021-09-24     7.96
2021-09-27     8.24
2021-09-28     7.98
2021-09-29     7.78
2021-09-30     7.79
Name: Close, Length: 64, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [201]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.297693
2017-01-04    27.267143
2017-01-05    27.405804
2017-01-06    27.711332
2017-01-09    27.965147
Name: Close, dtype: float64
Date
2017-12-15    41.544109
2017-12-18    42.129169
2017-12-19    41.680218
2017-12-20    41.634850
2017-12-21    41.792454
2017-12-22    41.792454
2017-12-26    40.732185
2017-12-27    40.739346
2017-12-28    40.853970
2017-12-29    40.412189
Name: Close, dtype: float64

In [202]:
print(didi.head(3)) #Imprimimos los primeros 3 datos ingresados
print(didi.tail(2)) #Imprimimos los últimos 2 datos ingresados

Date
2021-06-30    14.14
2021-07-01    16.40
2021-07-02    15.53
Name: Close, dtype: float64
Date
2021-12-29    4.94
2021-12-30    5.23
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [203]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.101464
2017-02-28    31.520057
2017-03-31    33.191427
2017-04-30    33.727006
2017-05-31    36.027137
2017-06-30    35.038141
2017-07-31    35.149094
2017-08-31    37.793847
2017-09-30    37.502157
2017-10-31    37.551832
2017-11-30    41.121434
2017-12-31    41.047757
Freq: M, Name: Close, dtype: float64

In [204]:
porMeses = didi.resample('M').mean()  #ahora obtenemos es una lista de promedios mensuales
print(porMeses)

Date
2021-06-30    14.140000
2021-07-31    11.297619
2021-08-31     8.653182
2021-09-30     8.398571
2021-10-31     8.273810
2021-11-30     8.387143
2021-12-31     6.243333
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [205]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.420493
2017-01-15    28.021087
2017-01-22    28.189009
2017-01-29    28.476087
2017-02-05    29.581623
Freq: W-SUN, Name: Close, dtype: float64

In [206]:
porSemanas = didi.resample('W').mean()    #ahora son promedios por semana
print(porSemanas.head())    #imprimimos una muestra

Date
2021-07-04    15.356667
2021-07-11    11.910000
2021-07-18    12.106000
2021-07-25    10.406000
2021-08-01     9.024000
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [207]:
aapl.resample('M').max()

Date
2017-01-31    28.660812
2017-02-28    32.363441
2017-03-31    34.018082
2017-04-30    34.171509
2017-05-31    36.997929
2017-06-30    36.843868
2017-07-31    36.372200
2017-08-31    39.022984
2017-09-30    39.034882
2017-10-31    40.222221
2017-11-30    41.935429
2017-12-31    42.129169
Freq: M, Name: Close, dtype: float64

In [208]:
didi.resample('M').max()  #Imprimimos el maximo historico de cada mes

Date
2021-06-30    14.14
2021-07-31    16.40
2021-08-31    10.38
2021-09-30     9.69
2021-10-31     9.81
2021-11-30     9.51
2021-12-31     7.81
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [209]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.323547
2017-01-06    27.711332
2017-01-09    28.034089
2017-01-12    28.001583
2017-01-15    28.202522
                ...
2017-12-17    41.904694
2017-12-20    41.739919
2017-12-23          NaN
2017-12-26    40.775167
2017-12-29    40.412189
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.420493
2017-01-22    28.095719
2017-02-05    29.028855
2017-02-19    31.430843
2017-03-05    32.506638
2017-03-19    32.927813
2017-04-02    33.533490
2017-04-16    33.757389
2017-04-30    33.699662
2017-05-14    35.600252
2017-05-28    36.396621
2017-06-11    36.415397
2017-06-25    34.434855
2017-07-09    34.171659
2017-07-23    35.182631
2017-08-06    36.173825
2017-08-20    37.800718
2017-09-03    38.353882
2017-09-17    38.178276
2017-10-01    36.740377
2017-10-15    36.970466
2017-10-29    37.654322
2017-11-12    40.920306
2017-11-26    41.091974
2017-12-10    40.755585
2017-12-24    41.507328
2018-01-07    40.684422
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.101464
2017-03-31    32.435331
2017-05-31    34.961223
2017-07-31    35.090975
2017-09-30    37.658177
2017-11-30    39.295126
2018-01-31    41.047757
Freq: 2M, Name: Close, dtype: float64

In [210]:
tresDias = didi.resample('3D').mean()  #ahora lo hacemos más específico en este caso es el promedio de cada 3 Dias
dosSemanas = didi.resample('2W').mean()   #promedio cada 2 semanas
dosMeses = didi.resample('2M').mean()     #promedio cada dos meses


print(tresDias)
print(dosSemanas)
print(dosMeses)

Date
2021-06-30    15.356667
2021-07-03          NaN
2021-07-06    11.870000
2021-07-09    12.030000
2021-07-12    12.066667
                ...
2021-12-18     5.900000
2021-12-21     5.756667
2021-12-24          NaN
2021-12-27     5.206667
2021-12-30     5.230000
Freq: 3D, Name: Close, Length: 62, dtype: float64
Date
2021-07-04    15.356667
2021-07-18    12.018889
2021-08-01     9.715000
2021-08-15     9.349000
2021-08-29     8.048000
2021-09-12     8.850000
2021-09-26     8.133000
2021-10-10     7.768000
2021-10-24     8.608000
2021-11-07     8.319000
2021-11-21     8.704000
2021-12-05     7.706667
2021-12-19     6.541000
2022-01-02     5.502500
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2021-06-30    14.140000
2021-08-31     9.944651
2021-10-31     8.336190
2021-12-31     7.315238
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [211]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.202813
2017-01-15    0.072332
2017-01-22    0.025483
2017-01-29    0.244618
2017-02-05    0.940688
2017-02-12    0.251313
2017-02-19    0.230758
2017-02-26    0.059183
2017-03-05    0.339162
2017-03-12    0.076080
2017-03-19    0.177348
2017-03-26    0.156835
2017-04-02    0.318933
2017-04-09    0.128336
2017-04-16    0.211895
2017-04-23    0.174197
2017-04-30    0.089782
2017-05-07    0.234998
2017-05-14    0.352015
2017-05-21    0.534634
2017-05-28    0.060228
2017-06-04    0.280458
2017-06-11    0.618343
2017-06-18    0.381524
2017-06-25    0.128541
2017-07-02    0.263389
2017-07-09    0.158458
2017-07-16    0.403177
2017-07-23    0.124648
2017-07-30    0.383390
2017-08-06    0.921870
2017-08-13    0.466192
2017-08-20    0.434066
2017-08-27    0.275014
2017-09-03    0.251038
2017-09-10    0.380599
2017-09-17    0.293338
2017-09-24    0.733187
2017-10-01    0.353876
2017-10-08    0.204297
2017-10-15    0.118413
2017-10-22    0.515587
2017-10-29    0.678596
2017-11-05    0.559156
2017-11-12    0.190450
2017-11-19    0.435009
2017-11-26    0.561509
2017-12-03    0.426281
2017-12-10    0.072930
2017-12-17    0.204708
2017-12-24    0.193597
2017-12-31    0.189873
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.711332
2017-01-15    28.143766
2017-01-22    28.202522
2017-01-29    28.660812
2017-02-05    30.336514
2017-02-12    31.256413
2017-02-19    32.035339
2017-02-26    32.363441
2017-03-05    32.996025
2017-03-12    32.932297
2017-03-19    33.208466
2017-03-26    33.390213
2017-04-02    34.018082
2017-04-09    34.171509
2017-04-16    33.793839
2017-04-23    33.621540
2017-04-30    34.114861
2017-05-07    35.160519
2017-05-14    36.997929
2017-05-21    36.903122
2017-05-28    36.497829
2017-06-04    36.843868
2017-06-11    36.824905
2017-06-18    34.743919
2017-06-25    34.684669
2017-07-02    34.563789
2017-07-09    34.172710
2017-07-16    35.324596
2017-07-23    35.793892
2017-07-30    36.372200
2017-08-06    37.244415
2017-08-13    38.173512
2017-08-20    38.451920
2017-08-27    38.066444
2017-09-03    39.034882
2017-09-10    38.566132
2017-09-17    38.428120
2017-09-24    37.769012
2017-10-01    36.698261
2017-10-08    36.974270
2017-10-15    37.355000
2017-10-22    38.183033
2017-10-29    38.796928
2017-11-05    41.045521
2017-11-12    41.935429
2017-11-19    41.544109
2017-11-26    41.782902
2017-12-03    41.572762
2017-12-10    40.548302
2017-12-17    41.544109
2017-12-24    42.129169
2017-12-31    40.853970
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.267143
2017-01-15    27.965147
2017-01-22    28.150820
2017-01-29    28.195471
2017-02-05    28.519798
2017-02-12    30.620893
2017-02-19    31.461775
2017-02-26    32.226540
2017-03-05    32.320950
2017-03-12    32.734013
2017-03-19    32.807205
2017-03-26    33.007828
2017-04-02    33.253315
2017-04-09    33.833977
2017-04-16    33.293434
2017-04-23    33.206104
2017-04-30    33.904774
2017-05-07    34.586933
2017-05-14    36.116482
2017-05-21    35.611385
2017-05-28    36.343765
2017-06-04    36.206295
2017-06-11    35.310383
2017-06-18    33.720013
2017-06-25    34.369442
2017-07-02    34.054199
2017-07-09    33.829041
2017-07-16    34.381287
2017-07-23    35.447849
2017-07-30    35.433636
2017-08-06    35.251125
2017-08-13    36.957619
2017-08-20    37.476337
2017-08-27    37.407337
2017-09-03    38.420982
2017-09-10    37.745216
2017-09-17    37.661934
2017-09-24    36.141468
2017-10-01    35.822624
2017-10-08    36.519794
2017-10-15    37.081345
2017-10-22    37.114658
2017-10-29    37.159866
2017-11-05    39.670193
2017-11-12    41.461918
2017-11-19    40.376377
2017-11-26    40.591286
2017-12-03    40.471889
2017-12-10    40.359650
2017-12-17    41.002026
2017-12-24    41.634850
2017-12-31    40.412189
Freq: W-SUN, Name: Close, dtype: float64

In [212]:
desvStandar = didi.resample('W').std()    #Se puede usar cualquier método estadístico - Desv. Estandar por semana
maximoH = didi.resample('W').max()    #Maximo historico por semana
minimoH = didi.resample('W').min()    #Minimo historico por semana


print(desvStandar)
print(maximoH)
print(minimoH)

Date
2021-07-04    1.139927
2021-07-11    0.529402
2021-07-18    0.578947
2021-07-25    1.397956
2021-08-01    1.038379
2021-08-08    0.467899
2021-08-15    0.454456
2021-08-22    0.505599
2021-08-29    0.357939
2021-09-05    0.464844
2021-09-12    0.471487
2021-09-19    0.193210
2021-09-26    0.219021
2021-10-03    0.248757
2021-10-10    0.349099
2021-10-17    0.081055
2021-10-24    0.620589
2021-10-31    0.291513
2021-11-07    0.130843
2021-11-14    0.602885
2021-11-21    0.323929
2021-11-28    0.120277
2021-12-05    0.760776
2021-12-12    0.282011
2021-12-19    0.131072
2021-12-26    0.213131
2022-01-02    0.191725
Freq: W-SUN, Name: Close, dtype: float64
Date
2021-07-04    16.40
2021-07-11    12.49
2021-07-18    12.62
2021-07-25    11.50
2021-08-01    10.31
2021-08-08    10.38
2021-08-15     9.54
2021-08-22     8.47
2021-08-29     8.70
2021-09-05     9.20
2021-09-12     9.69
2021-09-19     8.67
2021-09-26     8.18
2021-10-03     8.24
2021-10-10     8.17
2021-10-17     8.45
2021-10-24     9.81
2021-10-31     8.83
2021-11-07     8.46
2021-11-14     9.51
2021-11-21     9.01
2021-11-28     8.13
2021-12-05     7.81
2021-12-12     7.20
2021-12-19     6.42
2021-12-26     6.04
2022-01-02     5.38
Freq: W-SUN, Name: Close, dtype: float64
Date
2021-07-04    14.14
2021-07-11    11.21
2021-07-18    11.16
2021-07-25     8.06
2021-08-01     8.04
2021-08-08     9.31
2021-08-15     8.32
2021-08-22     7.20
2021-08-29     7.72
2021-09-05     8.18
2021-09-12     8.55
2021-09-19     8.17
2021-09-26     7.61
2021-10-03     7.58
2021-10-10     7.27
2021-10-17     8.26
2021-10-24     8.24
2021-10-31     8.07
2021-11-07     8.12
2021-11-14     8.12
2021-11-21     8.30
2021-11-28     7.88
2021-12-05     6.07
2021-12-12     6.49
2021-12-19     6.07
2021-12-26     5.60
2022-01-02     4.94
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [213]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.519798
2017-02-28    32.335121
2017-03-31    33.909504
2017-04-30    33.907143
2017-05-31    36.206295
2017-06-30    34.134792
2017-07-31    35.251125
2017-08-31    39.022984
2017-09-30    36.672081
2017-10-31    40.222221
2017-11-30    41.037853
2017-12-31    40.412189
Freq: M, Name: Close, dtype: float64

In [214]:
diaApertura = didi.resample('M').agg(lambda x: x[0])  #podemos especificar que nos coloque una fecha deseada mensualmente o anual
print(diaApertura)

Date
2021-06-30    14.14
2021-07-31    16.40
2021-08-31    10.38
2021-09-30     9.20
2021-10-31     7.58
2021-11-30     8.46
2021-12-31     7.81
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [215]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027685
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [216]:
retornoMensual = didi.resample('M').agg(lambda x: x[-1]/x[0] - 1)   #O aplicar formulas directas sobre la indexación
print(retornoMensual)

Date
2021-06-30    0.000000
2021-07-31   -0.371341
2021-08-31   -0.208092
2021-09-30   -0.153261
2021-10-31    0.064644
2021-11-30   -0.098109
2021-12-31   -0.330346
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [217]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863347374179575
0.052258541662130856
0.09901812908463614

In [218]:
print(retornoMensual.mean())    #devuelve la media de retornoMensual de didi
print(retornoMensual.std())     #devuelve la desviación estandar de retornoMensual de didi
print(retornoMensual.max())     #devuelve el valor máximos de retornoMensual de didi

-0.15664363126470823
0.16117157143477615
0.06464376992745291

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [219]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.815323
2017-03-31    1.574383
2017-04-30   -0.002361
2017-05-31    2.299152
2017-06-30   -2.071503
2017-07-31    1.116333
2017-08-31    3.771858
2017-09-30   -2.350903
2017-10-31    3.550140
2017-11-30    0.815632
2017-12-31   -0.625664
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [220]:
print(diaApertura.diff())
print(diaApertura.pct_change())

Date
2021-06-30         NaN
2021-07-31    2.259999
2021-08-31   -6.020000
2021-09-30   -1.180000
2021-10-31   -1.620000
2021-11-30    0.880000
2021-12-31   -0.650000
Freq: M, Name: Close, dtype: float64
Date
2021-06-30         NaN
2021-07-31    0.159830
2021-08-31   -0.367073
2021-09-30   -0.113680
2021-10-31   -0.176087
2021-11-30    0.116095
2021-12-31   -0.076832
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [221]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [222]:
retornoDiario = diaApertura.pct_change()
print(retornoDiario.fillna(0))  #usamos fillna(0) para rellenar los NaN con valores lógicos

Date
2021-06-30    0.000000
2021-07-31    0.159830
2021-08-31   -0.367073
2021-09-30   -0.113680
2021-10-31   -0.176087
2021-11-30    0.116095
2021-12-31   -0.076832
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [223]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [224]:
retornoDiario = diaApertura.pct_change()
print(retornoDiario.fillna(method = 'bfill')) #Existen métodos específicos para resolver dicho inconveniente

Date
2021-06-30    0.159830
2021-07-31    0.159830
2021-08-31   -0.367073
2021-09-30   -0.113680
2021-10-31   -0.176087
2021-11-30    0.116095
2021-12-31   -0.076832
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [225]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [226]:
retornoDiario = diaApertura.pct_change()
retornoDiario.dropna() #o simplemente los eliminamos para que no se tomen en cuenta

Date
2021-07-31    0.159830
2021-08-31   -0.367073
2021-09-30   -0.113680
2021-10-31   -0.176087
2021-11-30    0.116095
2021-12-31   -0.076832
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [227]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [228]:
import pandas as pd

dict = {'DIDI': [143.5, 144.09, 142.73, 144.18, 143.77],
        'HYMC':[898.7, 911.71, 906.69, 918.59, 926.99],
        'DOCU':[155.58, 153.67, 152.36, 152.94, 153.49]}
indiceDatos = pd.date_range('2021-07-03',periods = 5, freq = 'D')   #Establecemos un rango de 5 fechas a partir del 3 de Julio con frecuencia diaria
dataFrameDatos = pd.DataFrame(dict, index = indiceDatos)  #Indexamos cada fecha con su valor correspondiente
print(dataFrameDatos)

              DIDI    HYMC    DOCU
2021-07-03  143.50  898.70  155.58
2021-07-04  144.09  911.71  153.67
2021-07-05  142.73  906.69  152.36
2021-07-06  144.18  918.59  152.94
2021-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [229]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.792454
2017-12-26    40.732185
2017-12-27    40.739346
2017-12-28    40.853970
2017-12-29    40.412189
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [230]:
dataFrameDatos = tablaDidi    #almacenamos la tabla como dataframe
print(dataFrameDatos.Close.tail(5))     #imprimimos los últimos 5 elementos
print(dataFrameDatos['Volume'].tail(5))   #imprimimos los ultimos 5 elementos pero mostrando la columna Volumen

Date
2021-12-23    5.60
2021-12-27    5.30
2021-12-28    5.38
2021-12-29    4.94
2021-12-30    5.23
Name: Close, dtype: float64
Date
2021-12-23    13586700
2021-12-27    21146400
2021-12-28    24931700
2021-12-29    43077600
2021-12-30    35834400
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [231]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.792773  22.379032  21.691614  22.379032  257666000        0.0
2016-02-29  22.389513  22.706194  22.340971  22.350218  140865200        0.0
2016-03-31  25.362146  25.403754  25.167976  25.193403  103553600        0.0
2016-04-30  21.726095  21.894837  21.383989  21.668306  274126000        0.0
2016-05-31  23.163046  23.349096  22.981649  23.223513  169228800        0.0
2016-06-30  21.963036  22.272340  21.930477  22.232805  143345600        0.0
2016-07-31  24.230499  24.314221  24.111893  24.235149  110934800        0.0
2016-08-31  24.705474  24.918249  24.700796  24.808353  118649600        0.0
2016-09-30  26.295456  26.508233  26.141135  26.433411  145516400        0.0
2016-10-31  26.573704  26.709320  26.468483  26.547983  105677600        0.0
2016-11-30  26.228351  26.369363  25.915772  25.974527  144649200        0.0
2016-12-31  27.415201  27.544461  27.128475  27.220133  122345200        0.0

            Stock Splits
Date
2016-01-31             0
2016-02-29             0
2016-03-31             0
2016-04-30             0
2016-05-31             0
2016-06-30             0
2016-07-31             0
2016-08-31             0
2016-09-30             0
2016-10-31             0
2016-11-30             0
2016-12-31             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

In [232]:
didi_2021 = dataFrameDatos['2021']      #Seleccionamos los datos de 2021
didixMeses = didi_2021.resample('M').agg(lambda x: x[-1])       #Hacemos un resample para obtener los datos del ultimo dia del mes por cada mes
print(didixMeses)

             Open    High    Low  Close     Volume  Dividends  Stock Splits
Date
2021-06-30  16.65  18.010  14.10  14.14  288155500          0             0
2021-07-31   9.75  10.360   9.41  10.31   44250500          0             0
2021-08-31   8.25   8.338   8.04   8.22   15134700          0             0
2021-09-30   7.81   7.910   7.73   7.79    9125500          0             0
2021-10-31   8.26   8.360   8.01   8.07   13013300          0             0
2021-11-30   7.67   7.830   7.24   7.63   29389600          0             0
2021-12-31   4.78   5.300   4.76   5.23   35834400          0             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

We may select certain columns of a DataFrame using their names:

In [233]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.792773  22.379032  21.691614  22.379032
2016-02-29  22.389513  22.706194  22.340971  22.350218
2016-03-31  25.362146  25.403754  25.167976  25.193403
2016-04-30  21.726095  21.894837  21.383989  21.668306
2016-05-31  23.163046  23.349096  22.981649  23.223513
2016-06-30  21.963036  22.272340  21.930477  22.232805
2016-07-31  24.230499  24.314221  24.111893  24.235149
2016-08-31  24.705474  24.918249  24.700796  24.808353
2016-09-30  26.295456  26.508233  26.141135  26.433411
2016-10-31  26.573704  26.709320  26.468483  26.547983
2016-11-30  26.228351  26.369363  25.915772  25.974527
2016-12-31  27.415201  27.544461  27.128475  27.220133

In [234]:
didi_bar = didixMeses[['Open', 'High', 'Low', 'Close']]   #Especificamos las columnas que deseamos visualizar
print(didi_bar)

             Open    High    Low  Close
Date
2021-06-30  16.65  18.010  14.10  14.14
2021-07-31   9.75  10.360   9.41  10.31
2021-08-31   8.25   8.338   8.04   8.22
2021-09-30   7.81   7.910   7.73   7.79
2021-10-31   8.26   8.360   8.01   8.07
2021-11-30   7.67   7.830   7.24   7.63
2021-12-31   4.78   5.300   4.76   5.23

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [235]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.362146  25.403754  25.167976  25.193403
2016-04-30  21.726095  21.894837  21.383989  21.668306
2016-05-31  23.163046  23.349096  22.981649  23.223513
2016-06-30  21.963036  22.272340  21.930477  22.232805

In [236]:
print(didixMeses.loc['2021-03':'2021-09',['Open', 'High', 'Low', 'Close']]) #Una forma más agil de presentar los datos de un DataFrame

             Open    High    Low  Close
Date
2021-06-30  16.65  18.010  14.10  14.14
2021-07-31   9.75  10.360   9.41  10.31
2021-08-31   8.25   8.338   8.04   8.22
2021-09-30   7.81   7.910   7.73   7.79

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [237]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.362146  25.403754  25.167976  25.193403
2016-08-31  24.705474  24.918249  24.700796  24.808353
2016-09-30  26.295456  26.508233  26.141135  26.433411
2016-10-31  26.573704  26.709320  26.468483  26.547983
2016-11-30  26.228351  26.369363  25.915772  25.974527
2016-12-31  27.415201  27.544461  27.128475  27.220133

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [238]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792773  22.379032  21.691614  22.379032          NaN
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726095  21.894837  21.383989  21.668306    -0.139921
2016-05-31  23.163046  23.349096  22.981649  23.223513     0.071773
2016-06-30  21.963036  22.272340  21.930477  22.232805    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063
2016-08-31  24.705474  24.918249  24.700796  24.808353     0.023652
2016-09-30  26.295456  26.508233  26.141135  26.433411     0.065504
2016-10-31  26.573704  26.709320  26.468483  26.547983     0.004334
2016-11-30  26.228351  26.369363  25.915772  25.974527    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [239]:
didi_bar['rate_return'] = didi_bar.Close.pct_change()   #Probamos que los métodos usados en series aplican aquí tambien
print(didi_bar)

             Open    High    Low  Close  rate_return
Date
2021-06-30  16.65  18.010  14.10  14.14          NaN
2021-07-31   9.75  10.360   9.41  10.31    -0.270863
2021-08-31   8.25   8.338   8.04   8.22    -0.202716
2021-09-30   7.81   7.910   7.73   7.79    -0.052311
2021-10-31   8.26   8.360   8.01   8.07     0.035943
2021-11-30   7.67   7.830   7.24   7.63    -0.054523
2021-12-31   4.78   5.300   4.76   5.23    -0.314548

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [240]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [241]:
perdidos = didi_bar.isnull()    #Vamos a imprimir un booleano que nos diga si existe un NaN en la columna rate_return por cada fila
print(perdidos)
print('---------------------------------------------')
print(perdidos.describe())

             Open   High    Low  Close  rate_return
Date
2021-06-30  False  False  False  False         True
2021-07-31  False  False  False  False        False
2021-08-31  False  False  False  False        False
2021-09-30  False  False  False  False        False
2021-10-31  False  False  False  False        False
2021-11-30  False  False  False  False        False
2021-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count       7      7      7      7           7
unique      1      1      1      1           2
top     False  False  False  False       False
freq        7      7      7      7           6

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [242]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [243]:
print(perdidos[perdidos.rate_return == True]) #Imprimimos solamente el que sea NaN

             Open   High    Low  Close  rate_return
Date
2021-06-30  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [244]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726095  21.894837  21.383989  21.668306    -0.139921
2016-05-31  23.163046  23.349096  22.981649  23.223513     0.071773
2016-06-30  21.963036  22.272340  21.930477  22.232805    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063
2016-08-31  24.705474  24.918249  24.700796  24.808353     0.023652
2016-09-30  26.295456  26.508233  26.141135  26.433411     0.065504
2016-10-31  26.573704  26.709320  26.468483  26.547983     0.004334
2016-11-30  26.228351  26.369363  25.915772  25.974527    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792773  22.379032  21.691614  22.379032     0.000000
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726095  21.894837  21.383989  21.668306    -0.139921
2016-05-31  23.163046  23.349096  22.981649  23.223513     0.071773
2016-06-30  21.963036  22.272340  21.930477  22.232805    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063
2016-08-31  24.705474  24.918249  24.700796  24.808353     0.023652
2016-09-30  26.295456  26.508233  26.141135  26.433411     0.065504
2016-10-31  26.573704  26.709320  26.468483  26.547983     0.004334
2016-11-30  26.228351  26.369363  25.915772  25.974527    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955

In [245]:
drop = didi_bar.dropna()    #Borramos los valores con NaN
print(drop)
print('\n--------------------------------------------------\n')
fill = didi_bar.fillna(0)   #Rellenamos los NaN con 0's
print(fill)

            Open    High   Low  Close  rate_return
Date
2021-07-31  9.75  10.360  9.41  10.31    -0.270863
2021-08-31  8.25   8.338  8.04   8.22    -0.202716
2021-09-30  7.81   7.910  7.73   7.79    -0.052311
2021-10-31  8.26   8.360  8.01   8.07     0.035943
2021-11-30  7.67   7.830  7.24   7.63    -0.054523
2021-12-31  4.78   5.300  4.76   5.23    -0.314548

--------------------------------------------------

             Open    High    Low  Close  rate_return
Date
2021-06-30  16.65  18.010  14.10  14.14     0.000000
2021-07-31   9.75  10.360   9.41  10.31    -0.270863
2021-08-31   8.25   8.338   8.04   8.22    -0.202716
2021-09-30   7.81   7.910   7.73   7.79    -0.052311
2021-10-31   8.26   8.360   8.01   8.07     0.035943
2021-11-30   7.67   7.830   7.24   7.63    -0.054523
2021-12-31   4.78   5.300   4.76   5.23    -0.314548

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [246]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [247]:
w1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'DIDI')
w2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'HYMC')
data_frame = pd.concat([w1,w2], axis = 1) #Unimos dos columnas en una sola estructura DataFrame
print(data_frame)

     DIDI    HYMC
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [248]:
import numpy as np

In [249]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.108124
2016-02-29    3.106836
2016-03-31    3.226582
2016-04-30    3.075851
2016-05-31    3.145165
2016-06-30    3.101569
2016-07-31    3.187804
2016-08-31    3.211180
2016-09-30    3.274629
2016-10-31    3.278954
2016-11-30    3.257116
2016-12-31    3.303957
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.792773  22.379032  21.691614  22.379032          NaN   3.108124
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288   3.106836
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211   3.226582
2016-04-30  21.726095  21.894837  21.383989  21.668306    -0.139921   3.075851
2016-05-31  23.163046  23.349096  22.981649  23.223513     0.071773   3.145165
2016-06-30  21.963036  22.272340  21.930477  22.232805    -0.042660   3.101569
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063   3.187804
2016-08-31  24.705474  24.918249  24.700796  24.808353     0.023652   3.211180
2016-09-30  26.295456  26.508233  26.141135  26.433411     0.065504   3.274629
2016-10-31  26.573704  26.709320  26.468483  26.547983     0.004334   3.278954
2016-11-30  26.228351  26.369363  25.915772  25.974527    -0.021601   3.257116
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955   3.303957

In [250]:
log_price = np.log(didi_bar.Close)  #añadimos una columna de log() de los precios
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([didi_bar, log_price], axis = 1)
print(concat)

Date
2021-06-30    2.649008
2021-07-31    2.333114
2021-08-31    2.106570
2021-09-30    2.052841
2021-10-31    2.088153
2021-11-30    2.032088
2021-12-31    1.654411
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

             Open    High    Low  Close  rate_return  log_price
Date
2021-06-30  16.65  18.010  14.10  14.14          NaN   2.649008
2021-07-31   9.75  10.360   9.41  10.31    -0.270863   2.333114
2021-08-31   8.25   8.338   8.04   8.22    -0.202716   2.106570
2021-09-30   7.81   7.910   7.73   7.79    -0.052311   2.052841
2021-10-31   8.26   8.360   8.01   8.07     0.035943   2.088153
2021-11-30   7.67   7.830   7.24   7.63    -0.054523   2.032088
2021-12-31   4.78   5.300   4.76   5.23    -0.314548   1.654411

We can also join two DataFrames by rows. Consider these two DataFrames:

In [259]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.573704  26.709320  26.468483  26.547983
2016-11-30  26.228351  26.369363  25.915772  25.974527
2016-12-31  27.415201  27.544461  27.128475  27.220133
2017-01-31  28.472795  28.529199  28.348234  28.519798
2017-02-28  32.356364  32.441338  32.266668  32.335121
2017-03-31  33.923666  34.053488  33.756076  33.909504
2017-04-30  34.011001  34.060571  33.817450  33.907143

In [258]:
df_volumen = tablaDidi.loc['2021-1':'2021-12',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volumen)
print('\n---------------------- separate line--------------------\n')
df_2021 = tablaDidi.loc['2021-1':'2021-12',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2021)

               Volume  Stock Splits
Date
2021-06-30  288155500             0
2021-07-31   44250500             0
2021-08-31   15134700             0
2021-09-30    9125500             0
2021-10-31   13013300             0
2021-11-30   29389600             0
2021-12-31   35834400             0

---------------------- separate line--------------------

             Open    High    Low  Close
Date
2021-06-30  16.65  18.010  14.10  14.14
2021-07-31   9.75  10.360   9.41  10.31
2021-08-31   8.25   8.338   8.04   8.22
2021-09-30   7.81   7.910   7.73   7.79
2021-10-31   8.26   8.360   8.01   8.07
2021-11-30   7.67   7.830   7.24   7.63
2021-12-31   4.78   5.300   4.76   5.23

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [255]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-01-31  21.792773  22.379032  21.691614  22.379032          NaN
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726095  21.894837  21.383989  21.668306    -0.139921
2016-05-31  23.163046  23.349096  22.981649  23.223513     0.071773
2016-06-30  21.963036  22.272340  21.930477  22.232805    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063
2016-08-31  24.705474  24.918249  24.700796  24.808353     0.023652
2016-09-30  26.295456  26.508233  26.141135  26.433411     0.065504
2016-10-31  26.573704  26.709320  26.468483  26.547983     0.004334
2016-11-30  26.228351  26.369363  25.915772  25.974527    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955
2017-01-31        NaN        NaN        NaN        NaN          NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN

                 Volume  Stock Splits
Date
2016-01-31          NaN           NaN
2016-02-29          NaN           NaN
2016-03-31          NaN           NaN
2016-04-30          NaN           NaN
2016-05-31          NaN           NaN
2016-06-30          NaN           NaN
2016-07-31          NaN           NaN
2016-08-31          NaN           NaN
2016-09-30          NaN           NaN
2016-10-31  105677600.0           0.0
2016-11-30  144649200.0           0.0
2016-12-31  122345200.0           0.0
2017-01-31  196804000.0           0.0
2017-02-28   93931600.0           0.0
2017-03-31   78646800.0           0.0
2017-04-30   83441600.0           0.0

In [260]:
concat = pd.concat([didi_bar, df_volumen], axis = 1)   #Unimos las dos tablas generadas anteriormente
print(concat)

             Open    High    Low  Close  rate_return     Volume  Stock Splits
Date
2021-06-30  16.65  18.010  14.10  14.14          NaN  288155500             0
2021-07-31   9.75  10.360   9.41  10.31    -0.270863   44250500             0
2021-08-31   8.25   8.338   8.04   8.22    -0.202716   15134700             0
2021-09-30   7.81   7.910   7.73   7.79    -0.052311    9125500             0
2021-10-31   8.26   8.360   8.01   8.07     0.035943   13013300             0
2021-11-30   7.67   7.830   7.24   7.63    -0.054523   29389600             0
2021-12-31   4.78   5.300   4.76   5.23    -0.314548   35834400             0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [261]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-10-31  26.573704  26.709320  26.468483  26.547983     0.004334
2016-11-30  26.228351  26.369363  25.915772  25.974527    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0

In [262]:
concatenado = pd.concat([didi_bar,df_volumen],axis = 1, join = 'inner')   #utilizamos un inner join para unir las dos consultas
print(concatenado)

             Open    High    Low  Close  rate_return     Volume  Stock Splits
Date
2021-06-30  16.65  18.010  14.10  14.14          NaN  288155500             0
2021-07-31   9.75  10.360   9.41  10.31    -0.270863   44250500             0
2021-08-31   8.25   8.338   8.04   8.22    -0.202716   15134700             0
2021-09-30   7.81   7.910   7.73   7.79    -0.052311    9125500             0
2021-10-31   8.26   8.360   8.01   8.07     0.035943   13013300             0
2021-11-30   7.67   7.830   7.24   7.63    -0.054523   29389600             0
2021-12-31   4.78   5.300   4.76   5.23    -0.314548   35834400             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [263]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792773  22.379032  21.691614  22.379032          NaN
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726095  21.894837  21.383989  21.668306    -0.139921
2016-05-31  23.163046  23.349096  22.981649  23.223513     0.071773
2016-06-30  21.963036  22.272340  21.930477  22.232805    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063
2016-08-31  24.705474  24.918249  24.700796  24.808353     0.023652
2016-09-30  26.295456  26.508233  26.141135  26.433411     0.065504
2016-10-31  26.573704  26.709320  26.468483  26.547983     0.004334
2016-11-30  26.228351  26.369363  25.915772  25.974527    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955
2016-10-31  26.573704  26.709320  26.468483  26.547983          NaN
2016-11-30  26.228351  26.369363  25.915772  25.974527          NaN
2016-12-31  27.415201  27.544461  27.128475  27.220133          NaN
2017-01-31  28.472795  28.529199  28.348234  28.519798          NaN
2017-02-28  32.356364  32.441338  32.266668  32.335121          NaN
2017-03-31  33.923666  34.053488  33.756076  33.909504          NaN
2017-04-30  34.011001  34.060571  33.817450  33.907143          NaN

In [264]:
appendDidi = didi_bar.append(df_2021) #añadimos el DataFrame de DIDI 2021
print(appendDidi)

             Open    High    Low  Close  rate_return
Date
2021-06-30  16.65  18.010  14.10  14.14          NaN
2021-07-31   9.75  10.360   9.41  10.31    -0.270863
2021-08-31   8.25   8.338   8.04   8.22    -0.202716
2021-09-30   7.81   7.910   7.73   7.79    -0.052311
2021-10-31   8.26   8.360   8.01   8.07     0.035943
2021-11-30   7.67   7.830   7.24   7.63    -0.054523
2021-12-31   4.78   5.300   4.76   5.23    -0.314548
2021-06-30  16.65  18.010  14.10  14.14          NaN
2021-07-31   9.75  10.360   9.41  10.31          NaN
2021-08-31   8.25   8.338   8.04   8.22          NaN
2021-09-30   7.81   7.910   7.73   7.79          NaN
2021-10-31   8.26   8.360   8.01   8.07          NaN
2021-11-30   7.67   7.830   7.24   7.63          NaN
2021-12-31   4.78   5.300   4.76   5.23          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [265]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.792773  22.379032  21.691614  22.379032          NaN
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211
2016-04-30  21.726095  21.894837  21.383989  21.668306    -0.139921
2016-05-31  23.163046  23.349096  22.981649  23.223513     0.071773
2016-06-30  21.963036  22.272340  21.930477  22.232805    -0.042660
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063
2016-08-31  24.705474  24.918249  24.700796  24.808353     0.023652
2016-09-30  26.295456  26.508233  26.141135  26.433411     0.065504
2016-10-31  26.573704  26.709320  26.468483  26.547983     0.004334
2016-11-30  26.228351  26.369363  25.915772  25.974527    -0.021601
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955
2016-10-31  26.573704  26.709320  26.468483  26.547983          NaN
2016-11-30  26.228351  26.369363  25.915772  25.974527          NaN
2016-12-31  27.415201  27.544461  27.128475  27.220133          NaN
2017-01-31  28.472795  28.529199  28.348234  28.519798          NaN
2017-02-28  32.356364  32.441338  32.266668  32.335121          NaN
2017-03-31  33.923666  34.053488  33.756076  33.909504          NaN
2017-04-30  34.011001  34.060571  33.817450  33.907143          NaN

In [266]:
concatenar = pd.concat([didi_bar, df_2021], axis = 0)
print(concatenar)

             Open    High    Low  Close  rate_return
Date
2021-06-30  16.65  18.010  14.10  14.14          NaN
2021-07-31   9.75  10.360   9.41  10.31    -0.270863
2021-08-31   8.25   8.338   8.04   8.22    -0.202716
2021-09-30   7.81   7.910   7.73   7.79    -0.052311
2021-10-31   8.26   8.360   8.01   8.07     0.035943
2021-11-30   7.67   7.830   7.24   7.63    -0.054523
2021-12-31   4.78   5.300   4.76   5.23    -0.314548
2021-06-30  16.65  18.010  14.10  14.14          NaN
2021-07-31   9.75  10.360   9.41  10.31          NaN
2021-08-31   8.25   8.338   8.04   8.22          NaN
2021-09-30   7.81   7.910   7.73   7.79          NaN
2021-10-31   8.26   8.360   8.01   8.07          NaN
2021-11-30   7.67   7.830   7.24   7.63          NaN
2021-12-31   4.78   5.300   4.76   5.23          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [267]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.792773  22.379032  21.691614  22.379032          NaN        NaN
2016-02-29  22.389513  22.706194  22.340971  22.350218    -0.001288        NaN
2016-03-31  25.362146  25.403754  25.167976  25.193403     0.127211        NaN
2016-04-30  21.726095  21.894837  21.383989  21.668306    -0.139921        NaN
2016-05-31  23.163046  23.349096  22.981649  23.223513     0.071773        NaN
2016-06-30  21.963036  22.272340  21.930477  22.232805    -0.042660        NaN
2016-07-31  24.230499  24.314221  24.111893  24.235149     0.090063        NaN
2016-08-31  24.705474  24.918249  24.700796  24.808353     0.023652        NaN
2016-09-30  26.295456  26.508233  26.141135  26.433411     0.065504        NaN
2016-10-31  26.573704  26.709320  26.468483  26.547983     0.004334        NaN
2016-11-30  26.228351  26.369363  25.915772  25.974527    -0.021601        NaN
2016-12-31  27.415201  27.544461  27.128475  27.220133     0.047955        NaN
2016-10-31        NaN  26.709320  26.468483  26.547983          NaN  26.573704
2016-11-30        NaN  26.369363  25.915772  25.974527          NaN  26.228351
2016-12-31        NaN  27.544461  27.128475  27.220133          NaN  27.415201
2017-01-31        NaN  28.529199  28.348234  28.519798          NaN  28.472795
2017-02-28        NaN  32.441338  32.266668  32.335121          NaN  32.356364
2017-03-31        NaN  34.053488  33.756076  33.909504          NaN  33.923666
2017-04-30        NaN  34.060571  33.817450  33.907143          NaN  34.011001

In [268]:
df_2021.columns = ['Change', 'High','Low','Close']
concatenar = pd.concat([didi_bar, df_2021], axis = 0)
print(concatenar)

             Open    High    Low  Close  rate_return  Change
Date
2021-06-30  16.65  18.010  14.10  14.14          NaN     NaN
2021-07-31   9.75  10.360   9.41  10.31    -0.270863     NaN
2021-08-31   8.25   8.338   8.04   8.22    -0.202716     NaN
2021-09-30   7.81   7.910   7.73   7.79    -0.052311     NaN
2021-10-31   8.26   8.360   8.01   8.07     0.035943     NaN
2021-11-30   7.67   7.830   7.24   7.63    -0.054523     NaN
2021-12-31   4.78   5.300   4.76   5.23    -0.314548     NaN
2021-06-30    NaN  18.010  14.10  14.14          NaN   16.65
2021-07-31    NaN  10.360   9.41  10.31          NaN    9.75
2021-08-31    NaN   8.338   8.04   8.22          NaN    8.25
2021-09-30    NaN   7.910   7.73   7.79          NaN    7.81
2021-10-31    NaN   8.360   8.01   8.07          NaN    8.26
2021-11-30    NaN   7.830   7.24   7.63          NaN    7.67
2021-12-31    NaN   5.300   4.76   5.23          NaN    4.78

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.